{% extends 'network/layout.html' %}
{% load static %}

{% block body %}
<div class="introbody">
    <img class="coolimg intrologo" src="{% static 'network/imgs/CTRLogoFull.svg' %}">
    <img class="intromg center" src="{% static 'network/imgs/2.png' %}">
    <img class="intromg center" src="{% static 'network/imgs/3.png' %}">
    <img class="intromg center" src="{% static 'network/imgs/4.png' %}">
    <img class="intromg center" src="{% static 'network/imgs/5.png' %}">
</div>
{% endblock %}