{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container login bora coolsha center">

    {% if message %}
        <div class="data-info">{{ message }}</div>
        <hr>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Usuario">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Contraseña">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirmar contraseña">
        </div>
        <input class="btn btn-danger" type="submit" value="Registrarse">
    </form>

    <p class="info-form">Ya tienes usuario? <a href="{% url 'login' %}">Inicia sesión aquí.</a></p>
    
</div>
<hr>
<div class="center">
    <img class="coolimg " src="{% static 'network/imgs/CTRLogoFull.svg' %}">
</div>

{% endblock %}