{% extends "generalLayout.html" %}

{% block title %}
Lectio Search - 404
{% endblock %}

{% block body %}
<div class="message">
    <h1 style="font-weight: bold; color: red;">404 Error :'(</h1>
</div>
{% endblock %}

{% block style %}
<style>

.message{
    margin: auto;
    height: 10em;
    width: 20em;
    background-color: #59BAED;
    border-radius: 15px;
    -webkit-box-shadow: 0px 9px 30px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 9px 30px -1px rgba(0,0,0,0.75);
box-shadow: 0px 9px 30px -1px rgba(0,0,0,0.75);

    margin-top: 20em;
    padding: 2em;
}
body{
  background-color: #cccccc;
}
</style>
{% endblock %}