{% extends "generalLayout.html" %}

{% block title %}
Lectio Search - {{userName}}
{% endblock %}

{% block body %}
<div class="searchbox">
    <h1 style="color: white;">Search</h1>
    <form action="{{ url_for('index') }}" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Write ISBN , title or author of a book" 
            ria-label="Write ISBN , title or author of a book" aria-describedby="basic-addon2"
            name="searchItem" required>
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Search</button>
            </div>
          </div>
    </form>
</div>
{% endblock %}

{% block style %}
<style>
.searchbox{
    margin: auto;
    margin-top: 15%;
    background-color: #59BAED;
    width: 30em;
    height: 10em;
    border-radius: 10px;
    -webkit-box-shadow: 0px 9px 30px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 9px 30px -1px rgba(0,0,0,0.75);
box-shadow: 0px 9px 30px -1px rgba(0,0,0,0.75);

    padding: 2em;
}
.center{
    margin: auto;
}
body{
    background-image: url("https://images.pexels.com/photos/34627/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: #cccccc;
}
</style>
{% endblock %}